<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<bodyabout>
    <section Style='width:100vw;'  >
        <img src="https://cdn.pixabay.com/photo/2018/04/01/02/55/jesus-3279880_1280.jpg" alt="soundwave-logo" 
        Style="height:100vh; width:100%">
    </section>
    <section Style='width:100vw; background-color: red;height:100vh'  >df
    </section>
    <section Style='width:100vw; background-color: blue;height:100vh'  >df
    </section>
   
    <h1 class="About-title">This is About Page</h1>
</bodyabout>
</html>