<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    I Entered Prison a ‘Protestant.’ I Left a Christian.
How a violent Northern Ireland loyalist became a pastor and an evangelist.
grew up in Belfast, Northern Ireland, during an era of bitter and violent conflict between Protestants and Catholics. The Protestants wanted Northern Ireland to remain within the United Kingdom, while the Catholics wanted to unify Ireland as a single, independent republic.

My first awareness of the political differences between Protestants and Catholics came when I was 14 years old. On that day, I had been skipping school with a group of other boys, all Catholic. We were down in a glen, among the trees, where there was a rope swing attached to a branch jutting out over the river. I stood there listening as the other boys discussed what they should do to me. What they did was beat me up and throw me in the river.

As I climbed out of the water, I tried to figure out what I had done to deserve this. When I asked, one of the boys told me: They had attacked me because I was a Protestant. Until then, I didn’t know what it meant to be a loyalist or a Republican. Nor did I understand the distinction between being a Protestant and being a Catholic.

That day marked a turning point in my life, and it set me on a destructive course. I decided I would never again have Catholic friends. And as a teenager, I made the fateful decision to become a political terrorist, joining an illegal paramilitary organization called the Ulster Volunteer Force. I saw myself as a righteous activist fighting for a good cause—for loyalty to queen and country.
Time to change

As a UVF member, I committed several crimes, including a bombing, a bank robbery, and several other armed robberies, one of which got me sent to prison at age 17. After being released one year later, I got involved again, which ended in another arrest and a 12-year sentence.

I had been in prison a few years when something out of the ordinary happened. I was attending a church service just before Christmas. (Like nearly everyone else, I wasn’t there out of any religious convictions, but only for the chance to get out of my cell, see prisoners from other wings, and exchange contraband and scuttlebutt.) The prison chaplain asked, “Any volunteers to read the Bible passage this morning?” When no one responded, someone sitting in front of me turned around and said, “Davey said he will do it!”

My first instinct was denial. But I knew everyone would laugh at me. So I took the Bible and read the passage—Luke’s account of the nativity of Jesus. When I finished, I was smiling! For some reason, it felt good. In fact, I wrote a letter to my mother that evening explaining what had happened. But nothing changed. Christmas came and went.

In early January, I had another amazing experience. One evening, not long before lockup, I made myself a cup of tea. Returning to my cell, I noticed a small piece of folded-up paper lying on the pillow: a Christian gospel tract with the title “Jesus Christ is Coming Back Soon.” I laughed, balled it up, and tossed it out the cell window.

But a sudden thought came into my mind: “It’s time for you to change, to become a Christian.” This was startling. But a few moments later, the thought repeated itself.

At first I laughed it off, figuring God would never be interested in someone like me. I was a bad man guilty of doing bad things. The UVF had killed many people. Some of my friends were murderers. Thankfully, I had not taken anyone’s life, but it wasn’t for lack of trying.

I shook myself back to reality and put my cup on the shelf, beside a Gideon Bible. (Every prisoner kept one in his cell—not to read, but as a backup source of cigarette paper.) Curious, I flicked through the pages, reading a few lines here and there. It didn’t make any sense, so I put it back on the shelf. A few minutes later, I tried reading once more. It still didn’t make any sense.
Article continues below
Free Newsletters
Get the best from CT editors, delivered straight to your inbox!
This form is protected by reCAPTCHA and the Google Privacy Policy and Terms of Service apply.
More Newsletters

Lying on my bed, I started thinking about my close brushes with death. Like the night when the Irish Republican Army attempted to kill me while I was eating out with my fiancée. Or the time I planted a bomb that exploded prematurely while I was still in the building. Although my jacket was cut to shreds, I survived without a scratch. Or the moment on the street when someone put a gun to my head and pulled the trigger, only for the gun to jam.

Not many live to tell such tales, so why was I still alive? Suddenly the thought rushed through my mind: “It was God who kept me alive!” The more I pondered it, the more convinced I was.

Suddenly, I knew I wanted to become a Christian, although I wasn’t sure how. Thankfully, the next morning I encountered the very man who had put the tract on my bed. To my surprise, I began confessing my interest in becoming a Christian. I thought he would laugh at me because I had mocked him so many times for his faith. Instead, he simply gave me a hug. He also gave me several more tracts—enough reading material for a month.

One of the tracts contained a simple prayer on the back side:

    Come into my heart Lord Jesus, come into my heart today.
    Come into my heart Lord Jesus, come into my heart to stay.

I prayed the prayer six times, just to make sure God knew I was serious. When the cell door opened for us to return to work, I decided to tell the first person I saw, but to my horror he started yelling, “Davey’s a Christian now! He’s joined the God Squad!”

When I spotted the prison chaplain, I shouted, “I am a Christian now!” He stopped and walked over. “When did this happen?” he asked. He invited me back to his office, where he sat and smiled as I recounted my story. After I finished, he opened a cupboard and gave me the first Bible I considered my own, a little red Gideon’s New Testament. When he prayed for me, I felt ten feet tall.
Hope for the hopeless

At the time, I didn’t realize that someone else had been praying behind the scenes: my uncle’s mother-in-law, an elderly woman named Mrs. Beggs. On the day of my sentencing, when my mother was crying about her hopeless son, Mrs. Beggs shook her head and said, “If God could change the heart of John Newton”—the slave ship captain who penned “Amazing Grace” after his conversion—“he can change the heart of your son. I will pray for him every day.”

In fact, when my mother told her the good news, Mrs. Beggs reported back that she already knew, because God had “lifted the burden of her heart.” She added, “God has told me I am to pray for his future ministry—he will become a minister!” Though Mum could hardly believe it, Mrs. Beggs was right.

After my release, I worked as an evangelist for Prison Fellowship. (Charles Colson had visited me after my conversion.) Five years later I began to travel across Europe as an itinerant evangelist. In another 12 years, I received a call to pastor a church in England, which I did until my retirement. Nowadays, having moved back to Ireland, I continue to evangelize across the country.

Truly, there is no such thing as a hopeless case, because God is mighty to save!
</body>
</html>